.idea-well {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 1.5em;
  position: relative;
}

.idea-well .idea-well-key {
  color: #999;
  font-size: 0.9em;
  text-align: center;
  margin-bottom: 1em;
  width: 100%;
}

.idea-well .idea-entry textarea {
  background-color: #ffc;
  color: #422;
  font-size: 1.5em;
  padding: 0.5em;
  width: 95%;
}

.idea-well ol {
  padding-inline-start: 1em;
  padding-inline-end: 1em;
}

.idea-well .idea-well-icid {
  color: #999;
  font-size: 0.7em;
}

.idea-well .idea-well-item {
  background-color: #ffc;
  border: 1px solid #cc6;
  list-style: none;
  margin: 0.5em;
  padding: 0.5em;
}
.idea-well .idea-well-item.selected {
  border: 2px dashed #22c;
  border-radius: 0.5em;
}

.idea-well .idea-well-item pre {
  background-color: transparent;
  color: #422;
  font-size: 1.5em;
  margin: 0px;
  padding: 0px;
}

.idea-well .idea-well-item-actions {
  background-color: #eee;
  border: 1px solid #888;
  border-radius: 0.5em;
  float: right;
  opacity: 0.9;
  position: relative;
  top: -0.5em;
}
.idea-well .idea-well-item-actions:hover {
  opacity: 1;
}

.idea-well .idea-well-item-actions a {
  opacity: 0.7;
  padding: 0.2em 0.5em;
}
.idea-well .idea-well-item-actions a:hover {
  opacity: 1;
}
