.idea-well .relation {
  display: flex;
  justify-content: space-around;
}

.idea-well .relation-cid {
  background-color: #cfc;
  border: 1px solid #5c5;
  color: #555;
  font-family: sans-serif;
  font-size: 0.8em;
}

.idea-well .relation pre.idea-well-json {
  background-color: #000;
  color: green;
  font-size: 1em;
}

.idea-well .relation-cid-phrase {
  border: 1px dotted #484;
  margin: 0.2em 0.3em;
  padding: 0.2em 0.2em;
}

.idea-well .relation .relation-sentence > * {
  padding: 0.5em;
}
